.filters {
    position: relative;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.filters button.btn1 {
    position: absolute;
    right: 30px;
    bottom: 12px;
    font-size: 18px;
    background-color: #FF5A5F;
    color: #fff;
    height: 48px;
    width: 20%;
    border-radius: 4px;
}
.filters button.btn1:hover{
    opacity: 90%;
}

.filters div.locations {
    position: absolute;
    height: 100%;
    width: 25%;
    border-right: solid #DDDDDD 1px;
    margin-left: 20px;
}
.filters div.amenities {
    position: absolute;
    height: 100%;
    width: 25%;
    margin-left: 290px;
}

.filters div.locations h3 {
    position: absolute;
    font-weight: 600;
}

.filters div.locations h4{
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    top: 15px;
}

.filters div.amenities h3 {
    position: absolute;
    font-weight: 600;
}

.filters div.amenities h4{
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    top: 15px;
}
